@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el navbar */
body 
{

  background: #212121;
  padding: 0px 0;

}

.nav 
{

  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;

}

.nav 
{

  box-sizing: border-box;
  transition: all .35s ease;

}

.nav li 
{

  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;

}

.nav a 
{
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;

}

.nav a::before,
.nav a::after
{
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before 
{
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after 
{
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after
{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover 
{
  color: #3DA35D;
}

body
{
background-image: url(chae.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h1{text-align: center;}

#carouselExampleInterval 
{width: 80%;
 margin: auto;
}

#prro 
{
width: 80%;
margin: auto;
}

/* Estilos generales */

body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container 
{
  width: 80%;
  margin: 0 auto;
}

/* Estilos para dispositivos grandes */

@media screen and (min-width: 768px) { }

/* Estilos para dispositivos medianos */

@media screen and (max-width: 767px) {}

/* Estilos para dispositivos pequeños */

@media screen and (max-width: 480px) {}

/* Texto */

#np {color: #fff;}

#an{color: #fff;}

#an1 {color: #fff;}

#ac {color: #fff;}

#ac1 {color: #fff;}

#gr {color: #fff;}

#gr1 {color: #fff;}

#ct {color: #fff;}

/* Estilos para el carrusel */

.container{width: 75vw;
max-width: 1000px;
min-width: 320px;
margin: auto;}

img {width: 100px;
border-radius: 15px;
box-shadow: 0px 3px 5px rgb(15, 15, 15, .5);}
